.product-main{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.product-main img{
    margin:0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
    width: 140px;
    height: auto;
}
